<!DOCTYPE html>
<html>
	<head>
	    <title>Ricerca Tessera</title>
	    <link rel="stylesheet" href="/css/stile2.css?version=2" />
	</head>
	<body>
	    <div class="container">
	        <header>
	            <h1>Parking Management</h1> 
				<nav class="inline-menu-container">
	                <ul>
						<li><a th:href="@{/}">Home</a></li>
						<li><a th:href="@{/tessereAttive}">Tessere Attive</a></li>
		                <li><a th:href="@{/operazioniPerTessera}">Operazioni per tessera</a></li>
		                <li><a th:href="@{/operazioniPerPeriodo}">Operazioni per data/periodo</a></li>
	                </ul>
	            </nav>
	        </header>
	        <section class="info-section">
	            <h2 class="section-title"th:text="'Cerca tessera:'"></h2>
				<div th:if="${error}" class="error-message">
				       <p th:text="${error}"></p>
				   </div>
	            <form th:action="@{'/riepilogoOperazioniTessera'}" method="post">
	                <div class="form-group">
	                    <label>Numero Tessera:</label>
	                    <input 
	                        type="text" 
	                        id="numeroTessera" 
	                        name="numeroTessera" 
	                        placeholder="Inserisci il numero della tessera" 
	                        required
	                        class="form-input">
						<span th:text="${error}">messaggio errore</span>
	                </div>
	                <div class="form-actions">
	                    <button type="submit" class="form-button">Conferma</button>
	                </div>
	            </form>
	        </section>
	    </div>
	    <footer>
	    </footer>
	</body>
</html>