<!DOCTYPE html>
<html>
	<head>
		<title>Emissione Tessera</title>
		<link rel="stylesheet" href="/stile.css?version=3"/>
		</head>
		  <body>
		    <h1>Emetti tessera</h1>
		    <form th:action="@{/tessera}" method="POST" th:object="${tessera}">
				        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p> 
		 <div>
			  <label>Titolo:</label> <span><input type="text" th:field="${movie.title}" /></span>
			        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>	
			  </div>
		      <div>
		        Anno: <span><input type="text" th:field="${movie.year}"/></span>
				        <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>
		      </div>
		      <div>
		        <span><button type="submit">Conferma</button></span>
		      </div>
		    </form>
		  </body>
		</html>