<!DOCTYPE html>
<html>
	<head>
		<title>Inserisci nuovo Cliente</title>
		<link rel="stylesheet" href="/css/stile2.css?version=3" />
	</head>
	<body>
		<div class="container">
			<header>
				<h1>Parking Management</h1>
				<nav class="inline-menu-container">
					<ul>
						<li><a th:href="@{/}">Home</a></li>
						<li><a th:href="@{/tessereAttive}">Tessere Attive</a></li>
		                <li><a th:href="@{/operazioniPerTessera}">Operazioni per tessera</a></li>
		                <li><a th:href="@{/operazioniPerPeriodo}">Operazioni per data/periodo</a></li>
					</ul>
				</nav>
			</header>

			<section class="info-section">
				<h2 class="section-title">Operazione: Emissione Tessera - Nuovo Titolare</h2>
				

				<form th:action="@{'/creaNuovoCliente/'+${tessera.numero}}" method="POST" >
	                <div class="form-group">
	                    <label for="nome">Nome:</label>
	                    <span><input type="text" name="nome" placeholder="Inserisci il nome" class="form-input" /></span>
	                </div>
	                <div class="form-group">
	                    <label for="cognome">Cognome:</label>
	                    <span><input type="text" name="cognome" placeholder="Inserisci il cognome" class="form-input" /></span>
	                </div>
					<div class="form-group">
	                    <label for="cognome">Azienda:</label>
	                    <span><input type="text" name="azienda" placeholder="Inserisci l'azienda per cui lavora" class="form-input"  /></span>
	                </div>
					<div class="form-group">
	                    <label for="cognome">Targa Auto:</label>
	                    <span><input type="text" name="targa" placeholder="Inserisci la targa dell'auto" class="form-input"  /></span>
	                </div>
					<div class="form-group">
						<label>Vuoi associare dati di fatturazione?</label>
						<span class="radio-group">
							<input type="radio" id="datiFatturaSi" name="hasDatiFattura" value="true" onclick="toggleDatiFatturaFields(true)" />
							<label for="datiFatturaSi">Sì</label>
							<input type="radio" id="datiFatturaNo" name="hasDatiFattura" value="false" checked onclick="toggleDatiFatturaFields(false)" />
							<label for="datiFatturaNo">No</label>
						</span>
					</div>
	                <div class="form-actions">
	                    <span><button type="submit" class="form-button">Salva Cliente</button></span>
	                </div>
	            </form>

	            <div class="form-actions">
	                <a th:href="@{'/emissioneTessera/associaAnagrafica/'+${tessera.numero}}" class="form-link-button">Torna ad Emissione Tessera</a>
	                <a th:href="@{'/cercaTitolareTessera/'+${tessera.numero}}" class="form-link-button">Cerca Titolare</a>
	            </div>
			</section>
		</div>
	</body>
</html>


