<!DOCTYPE html>
<html>
	<head>
		<title>Inserisci nuovo Cliente</title>
		<link rel="stylesheet" href="/css/stile2.css?version=3" />
	</head>
	<body>
		<div class="container">
			<header>
				<h1>Parking Management</h1>
				<nav class="inline-menu-container">
					<ul>
						<li><a th:href="@{/}">Home</a></li>
						<li><a th:href="@{/tessereAttive}">Tessere Attive</a></li>
		                <li><a th:href="@{/operazioniPerTessera}">Operazioni per tessera</a></li>
		                <li><a th:href="@{/operazioniPerPeriodo}">Operazioni per data/periodo</a></li>
					</ul>
				</nav>
			</header>

			<section class="info-section">
				<h2 class="section-title">Operazione: Emissione Tessera - Nuovo Titolare</h2>
				

				<form th:object="${dipendenteCC}" th:action="@{'/creaNuovoCliente/'+${tessera.numero}}" method="POST" >
					<div th:if="${#fields.hasGlobalErrors()}">
					        <p class="error-message" th:each="err : ${#fields.globalErrors()}" th:text="${err}">Errore</p> 
					</div>
					 <div class="form-group">
	                    <label for="nome">Nome:</label>
	                    <span><input type="text" id="nome" th:field="*{nome}" placeholder="Inserisci il nome" required class="form-input" /></span>
						<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
	                </div>
	                <div class="form-group">
	                    <label for="cognome">Cognome:</label>
	                    <span><input type="text" id="cognome" th:field="*{cognome}" placeholder="Inserisci il cognome" required class="form-input" /></span>
						<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
	                </div>
					<div class="form-group">
	                    <label for="azienda">Azienda:</label>
	                    <span><input type="text" id="azienda" th:field="*{azienda}" placeholder="Inserisci l'azienda per cui lavora" required class="form-input"  /></span>
						<span th:if="${#fields.hasErrors('azienda')}" th:errors="*{azienda}"></span>
	                </div>
					<div class="form-group">
	                    <label for="targa">Targa Auto:</label>
	                    <span><input type="text" id="targa" th:field="*{targa}" placeholder="Inserisci la targa dell'auto" required class="form-input"  /></span>
						<span th:if="${#fields.hasErrors('targa')}" th:errors="*{targa}"></span>
					 </div>
					<div class="form-group">
						<label>Vuoi associare dati di fatturazione?</label>
						<span class="radio-group">
							<input type="radio" id="datiFatturaSi" name="hasDatiFattura" value="true" onclick="toggleDatiFatturaFields(true)" />
							<label for="datiFatturaSi">Sì</label>
							<input type="radio" id="datiFatturaNo" name="hasDatiFattura" value="false" checked onclick="toggleDatiFatturaFields(false)" />
							<label for="datiFatturaNo">No</label>
						</span>
					</div>
	                <div class="form-actions">
	                    <span><button type="submit" class="form-button">Salva Cliente</button></span>
	                </div>
	            </form>

	            <div class="form-actions">
	                <a th:href="@{'/emissioneTessera/associaAnagrafica/'+${tessera.numero}}" class="form-link-button">Torna ad Emissione Tessera</a>
	                <a th:href="@{'/cercaTitolareTessera/'+${tessera.numero}}" class="form-link-button">Cerca Titolare</a>
	            </div>
			</section>
		</div>
		<footer>
			<p>&copy; 2025 Parking Management System</p>
		</footer>
	</body>
</html>


