<!DOCTYPE html>
<html>
	<head>
		<title>Dati Fatturazione</title>
		<link rel="stylesheet" href="/css/stile2.css?version=3" />
	</head>
	<body>
		<div class="container">
			<header>
				<h1>Parking Management</h1>
				<nav class="inline-menu-container">
					<ul>
						<li><a th:href="@{/}">Home</a></li>
						<li><a th:href="@{/tessereAttive}">Tessere Attive</a></li>
		                <li><a th:href="@{/operazioniPerTessera}">Operazioni per tessera</a></li>
		                <li><a th:href="@{/operazioniPerPeriodo}">Operazioni per data/periodo</a></li>
					</ul>
				</nav>
			</header>

			<section class="info-section">
				<h2 class="section-title">Operazione: Emissione Tessera - Dati Fatturazione</h2>


				<form th:action="@{'/ricercaDatiFatturazione/'+${tessera.numero}+'/'+${dipendenteCC.id}}" method="GET">
	                <div class="form-group">
	                    <label for="nome">Ragione sociale:</label>
	                    <span><input type="text" id="ragioneSociale" name="ragioneSociale" placeholder="Inserisci la ragione sociale" class="form-input" /></span>
	                </div>
	                <div class="form-actions">
	                    <span><button type="submit" class="form-button">Cerca</button></span>
	                </div>
	            </form>

	            <div th:if="${datiFatturazione != null and !datiFatturazione.isEmpty()}" class="table-responsive-container">
	                <h3 class="subsection-title">Clienti Trovati:</h3>
					<table>
	                    <thead>
	                        <tr>
	                            <th>Ragione Sociale</th>
	                            <th>Partita IVA</th>
								<th>PEC</th>
	                            <th>Codice Univoco</th>
                                <th>Indirizzo</th>
	                            <th>Seleziona</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr th:each="dati : ${datiFatturazione}">
	                            <td th:text="${dati.ragioneSociale}"></td>
	                            <td th:text="${dati.partitaIva}"></td>
								<td  th:text="${dati.pec}"></td>
                                <td  th:text="${dati.codiceUnivoco}"></td>
                                <td  th:text="${dati.indirizzo}"></td>
								<td>
	                                <a th:href="@{'/emissioneTessera/creaNuovoCliente/associaDatiFatturazione/'+${tessera.numero} +'/'+${dipendenteCC.id}+'/'+ ${dati.id}}" class="form-link-button">Seleziona</a>
								</td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>


				<div th:if="${datiFatturazione != null and datiFatturazione.isEmpty()}">
	                <p class="empty-message">Non sono presenti dati di fatturazione con la ragione sociale ricercata. Compila il form per inserirli.</p>
					<form th:object="${datiFattura}" th:action="@{'/creaNuoviDatiFatturazione/'+${tessera.numero}+'/'+${dipendenteCC.id}}" method="POST">
					    <div th:if="${#fields.hasGlobalErrors()}">
					        <p class="error-message" th:each="err : ${#fields.globalErrors()}" th:text="${err}">Errore</p> 
					    </div>
					<div class="form-group">
		                    <label for="ragioneSociale">Ragione Sociale:</label>
		                    <span><input type="text" id="ragioneSociale" th:field="*{ragioneSociale}" placeholder="Inserisci la ragione sociale" class="form-input" required /></span>
							<span style="color: red;" th:if="${#fields.hasErrors('ragioneSociale')}" th:errors="*{ragioneSociale}"></span>
		                </div>
		                <div class="form-group">
		                    <label for="partitaIva">Partita IVA:</label>
		                    <span><input type="text" id="partitaIva" th:field="*{partitaIva}" placeholder="Inserisci la Partita IVA" class="form-input" required /></span>
							<span style="color: red;" th:if="${#fields.hasErrors('partitaIva')}" th:errors="*{partitaIva}"></span>
		                </div>
						<div class="form-group">
		                    <label for="pec">PEC:</label>
		                    <span><input type="email" id="pec" th:field="*{pec}" placeholder="Inserisci l'indirizzo PEC" class="form-input" /></span>
							<span style="color: red;" th:if="${#fields.hasErrors('pec')}" th:errors="*{pec}"></span>
		                </div>
						<div class="form-group">
		                    <label for="codiceUnivoco">Codice Univoco:</label>
		                    <span><input type="text" id="codiceUnivoco" th:field="*{codiceUnivoco}" placeholder="Inserisci il codice univoco" class="form-input" /></span>
							<span style="color: red;" th:if="${#fields.hasErrors('codiceUnivoco')}" th:errors="*{codiceUnivoco}"></span>
		                </div>
		                <div class="form-group">
		                    <label for="indirizzo">Indirizzo:</label>
		                    <span><input type="text" id="indirizzo" th:field="*{indirizzo}" placeholder="Inserisci l'indirizzo completo" class="form-input" /></span>
		                </div>
		                <div class="form-actions">
		                    <span><button type="submit" class="form-button">Salva Dati Fatturazione</button></span>
		                </div>
		            </form>
	            </div>

	            <div class="form-actions">
	                <a th:href="@{'/emissioneTessera/associaAnagrafica/'+${tessera.numero}}" class="form-link-button">Torna ad Emissione Tessera</a>
	                <a th:href="@{'/nuovoTitolareTessera/'+${tessera.numero}}" class="form-link-button">Crea Nuovo Titolare</a>
	            </div>
			</section>
		</div>
		<footer>
			 <p>&copy; 2025 Parking Management System</p>
		</footer>
	</body>
</html>