<!DOCTYPE html>
<html lang="it">
<head>
    <title>Riepilogo Tessera</title>
    <link rel="stylesheet" href="/css/stile2.css?version=2" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Parking Management</h1> 
			<nav class="inline-menu-container">
                <ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/tessereAttive}">Tessere Attive</a></li>
	                <li><a th:href="@{/operazioniPerTessera}">Operazioni per tessera</a></li>
	                <li><a th:href="@{/operazioniPerPeriodo}">Operazioni per data/periodo</a></li>
                </ul>
            </nav>
        </header>
        <section class="info-section">
			<div class="table-responsive-container">
				<table>
					<thead>
					     <tr>
							<th>Data</th>
					        <th>Cliente</th> 
							<th>Azienda</th> 
							<th>Tessera</th>
					        <th>Tipo Abbonamento</th>
					        <th>Cauzione(€)</th>
					        <th>Contanti(€)</th> 
						    <th>Carta(€)</th> 
							<th> </th>              
					    </tr>
				    </thead>
				 <tbody>
					<tr th:each="operazione : ${operazioniPerGiorno}">
										
						<td th:text="${#temporals.format(operazione.data, 'dd-MM-yyyy')}"></td>
						<td th:text="${operazione.cliente.nome+ ' ' +operazione.cliente.cognome}"></td>
						<td th:text="${operazione.cliente.azienda}"></td>
					    <td th:text="${operazione.tessera.numero}"></td>
					    <td th:text="${operazione.tessera.descrizioneTessera.tipoTessera}"></td>
														
					    <td th:if="${operazione.cauzione!=0}" th:text="${operazione.cauzione}"></td>
					    <td th:unless="${operazione.cauzione!=0}" ></td>
														
			            <td th:if="${operazione.tipoPagamento=='contanti'}" th:text="${operazione.importo}"></td>
				        <td th:unless="${operazione.tipoPagamento=='contanti'}" ></td>
													
			            <td th:if="${operazione.tipoPagamento=='carta'}" th:text="${operazione.importo}"></td>
		                <td th:unless="${operazione.tipoPagamento=='carta'}" > </td>
														
					    <td th:if="${(operazione.tipoOperazione.name()=='EMISSIONE' or operazione.tipoOperazione.name()=='RICARICA') and operazione.cliente.datiFatturazione!=null}"> 
	                    	<a th:href="@{'/datiFatturazione/'+${operazione.cliente.datiFatturazione.id}}"  class="billing-link">F</a> 
						</td>
						<td th:if="${operazione.tipoOperazione.name()=='SMARRIMENTO'}"> S </td>
						<td th:if="${operazione.tipoOperazione.name()=='DANNEGGIAMENTO'}"> D </td>
					    <td th:unless="${((operazione.tipoOperazione.name()=='EMISSIONE' or operazione.tipoOperazione.name()=='RICARICA') and operazione.cliente.datiFatturazione!=null) or
										(operazione.tipoOperazione.name()=='SMARRIMENTO' and operazione.tipoOperazione.name()=='DANNEGGIAMENTO')}">  </td>
								
					 </tr>
				  </tbody>
				 </table>
			    </div>
	          </form>
            </div>
        </section>
    </div>
</body>
</html>
