<!DOCTYPE html>
<html lang="it">
<head>
    <title>Riepilogo Tessera</title>
    <link rel="stylesheet" href="/css/stile2.css?version=3" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Parking Management</h1> 
			<nav class="inline-menu-container">
                <ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/tessereAttive}">Tessere Attive</a></li>
	                <li><a th:href="@{/operazioniPerTessera}">Operazioni per tessera</a></li>
	                <li><a th:href="@{/operazioniPerPeriodo}">Operazioni per data/periodo</a></li>
                </ul>
            </nav>
        </header>
        <section class="info-section">
            <h2 th:unless="${tipoOperazione=='ricarica'}" class="section-title" th:text="'Riepilogo tessera '+${tipoOperazione}"></h2>
			<h2 th:if="${tipoOperazione=='ricarica' and tessera.descrizioneTessera.tipoTessera!='SCALARE'}" class="section-title"> Riepilogo tessera per rinnovo</h2>
			<h2 th:if="${tipoOperazione=='ricarica' and tessera.descrizioneTessera.tipoTessera=='SCALARE'}" class="section-title"> Riepilogo tessera per ricarica</h2>
			<div class="table-responsive-container">
                <table>
                    <tr>
                        <th>Numero Tessera</th>
                        <td th:text="${tessera.numero}"></td>
                    </tr>
                    <tr>
                        <th>Data di Emissione</th>
                        <td th:text="${#temporals.format(tessera.dataEmissione, 'dd-MM-yyyy')}"></td>
                    </tr>
                    <tr>
                        <th>Data di Scadenza</th>
                        <td th:text="${#temporals.format(tessera.dataScadenza, 'dd-MM-yyyy')}"></td>
                    </tr>
                    <tr>
                        <th>Descrizione Tessera</th>
                        <td th:text="${tessera.descrizioneTessera.tipoTessera}"></td>
                    </tr>
                    <tr>
                        <th>Titolare</th>
                        <td th:text="${titolare.nome + ' ' + titolare.cognome}"></td>
                    </tr>
                    <tr>
                        <th>Azienda</th>
                        <td th:text="${titolare.azienda}"></td>
                    </tr>
                </table>
				<form th:action="@{'/salvaOperazione/'+${tipoOperazione}+'/' + ${tessera.numero} + '/' + ${titolare.id}}" method="post">
				    <div class="form-actions"> 
						<button th:unless="${tipoOperazione=='ricarica'}" type="submit" class="form-button" th:text="'Conferma '+${tipoOperazione}">Conferma Operazione</button>
						<button th:if="${tipoOperazione=='ricarica' and tessera.descrizioneTessera.tipoTessera!='SCALARE'}" type="submit" class="form-button" >Conferma Rinnovo</button>
						<button th:if="${tipoOperazione=='ricarica' and tessera.descrizioneTessera.tipoTessera=='SCALARE'}" type="submit" class="form-button" >Conferma Ricarica</button>  
					</div>
	           	</form>
            </div>
        </section>
    </div>
	<footer>
		 <p>&copy; 2025 Parking Management System</p>
	</footer>
</body>
</html>
