<!DOCTYPE html>

<html>

  	<head>
	    <title>Tessere emesse</title>
	    <link rel="stylesheet" href="/stile.css?version=2" />
	  </head>

  	<body>
    	<h1>Tessere emesse</h1>
    	<div th:if="${tessereEmesse.isEmpty()}">Non ci sono tessere emesse nel sistema</div>
    	<ul>
      	<li th:each="tessere : ${tessereEmesse}">
        	<a th:href="@{'/tessera' + '/' + ${tessera.id}}" th:text="'Data emissione: ' ${tessera.dataEmissione} + 'Data emissione: ' + ${tessera.dataScadenza} + ' + 'Cliente: ' + $tessera.titolare)'"></a>
      	</li>
    	</ul>
  	</body>

</html>