<!DOCTYPE html>
<html lang="it">
<head>
    <title>Dati di Fatturazione</title>
    <link rel="stylesheet" href="/css/stile2.css?version=2" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Parking Management</h1> 
            <nav class="inline-menu-container">
                <ul>
					<li><a th:href="@{/}">Home</a></li>
					<li><a th:href="@{/tessereAttive}">Tessere Attive</a></li>
	                <li><a th:href="@{/operazioniPerTessera}">Operazioni per tessera</a></li>
	                <li><a th:href="@{/operazioniPerPeriodo}">Operazioni per data/periodo</a></li>
                </ul>
            </nav>
        </header>
        <section class="info-section">
            <h2 class="section-title">Dati di Fatturazione</h2>
            <div class="table-responsive-container">
                <table>
                    <tr>
                        <th>Codice Univoco</th>
                        <td th:text="${dati.codiceUnivoco}"></td>
                    </tr>
                    <tr>
                        <th>PEC</th>
                        <td th:text="${dati.pec}"></td>
                    </tr>
                    <tr>
                        <th>Partita IVA</th>
                        <td th:text="${dati.partitaIva}"></td>
                    </tr>
                    <tr>
                        <th>Ragione Sociale</th>
                        <td th:text="${dati.ragioneSociale}"></td>
                    </tr>
                    <tr>
                        <th>Indirizzo</th>
                        <td th:text="${dati.indirizzo}"></td>
                    </tr>
                </table>
            </div>
            
            <div class="form-actions">
                <a th:href="@{/}" class="form-link-button">Torna alla Home</a>
            </div>
        </section>
    </div>
</body>
</html>